
body {
    padding: 5px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

div.page-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

div.page-header a, div.page-header a:visited {
    color: inherit;
    text-decoration: none;
}

div.site-title {
    font-size: 2em;
    font-weight: bold;
}

div.mb-tool {
    margin-bottom: 3em;
}

div.recordings-list {
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    margin-right: 3em;
    border: solid silver;
    border-width: 0 1px 1px 0;
}
div.recording-div {
    display: flex;
    flex-direction: row;
}

div.recording-number {
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
    vertical-align: top;
    width: 5em;
    border: solid silver;
    border-width: 1px 0 0 1px;
}

div.recording-info {
    padding: 0.5em;
    font-size: 0.8rem;
    width: 100%;
    border: solid silver;
    border-width: 1px 0 0 1px;
}

div.recording-info p {
    padding: 0;
    margin-bottom: 0.25em;
}

p.recording-title {
    font-size: 1.1em;
}

.data-warning-bad {
    color: red;
}

a.mb-link, a.mb-link:visited{
    color: #b48732;
    text-decoration: none;
}

a, a:visited {
    color: blue;
    text-decoration: none;
}
